<h1><%=@movie["Title"]%></h1>

<!-- <img src="<%#=@movie['Poster']%>"> -->
<%=image_tag @movie["Poster"]%>

<!-- <a href=""></a> -->
<%#=link_to  %>

<%@movie.each do |key,value| %>
  <li><%=key%>: <%=value%> </li>
<%end %>

<%= link_to "Search Again", search_path %>
